h1 {
    position: absolute;
    left: 45%;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rapu {
    width: 200px;
    position: absolute;
    left: 45%;
    top: 120px;
}
h2 {
    position: absolute;
    left: 35%;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#outside {
z-index: 1;
position: absolute;
width: 100%;
height: 1000%;
text-align: center;
transition: 1s;
transform-origin: 0;

}
#inside {
z-index: 0;
position: absolute;
width: 100%;
height: 100%;
text-align: center;
transition: 1s;
transform-origin: 0;
}
.open-card{
   animation: flip 3s forwards;
}

@keyframes flip{
    from{transform: rotate(0)}
    to { transform: rotateY(-90deg);}
}
#outside, #inside {
  backface-visibility: hidden;
}
button {
    background-color: white;
    color: #ff69b4; 
    border: 2px solid #f2c9de;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    top: 500px;
}
button:hover {
    background-color: #efadb8;
    color: white;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.4);
}

